.homeButton{
    color: #007cf4;
    text-decoration: none;
}
.homeButton:hover{
    color: #00488c;
    text-decoration: none;
}

.headerGetStartedButton{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 13px  7px 13px ;
    color: white;
}
.headerGetStartedButton:hover{
    color: #007cf4;
    border: 1px solid #007bff;
}

header {
    width: 100%;
    background-color: rgb(28, 66, 120);
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header.scrolled {
    background-color: white; /* Ngjyra që dëshiron pas scroll-it */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

header .logo {
    float: left;

}

header.scrolled .logo h1{
    color:#007CF4;
}

header.scrolled .headerGetStartedButton{
    color: #007cf4;
    border: 2px solid #007bff;
}

header.scrolled .headerGetStartedButton:hover{
    background-color: #e9fcff;
}

header nav {
    float: right;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white; /* Ngjyra fillestare e tekstit */
    transition: color 0.3s ease;
}

header.scrolled nav a {
    color: black; /* Ngjyra e tekstit pas scroll-it */
}

header nav a.btn {
    background-color: #007CF4;
    color: #fff;
    border-radius: 5px;
}

header nav a.btn.costum-btn {
    background-color: #007CF4;
}

/* Për pastrimin e floats */
header::after {
    content: "";
    display: table;
    clear: both;
}
.loginButton{
    border: none;
    border-radius: 20px;
    padding: 5px 15px 7px 15px;
    color: white;
    font-weight: 600;
    background-color: #007cf4;
}

.loginButton:hover{
    background-color: #0056ac;
}

.isLoginHeader{
    background-color: white; /* Ngjyra që dëshiron pas scroll-it */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.isLoginHeaderGetStartedButton{
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 13px  7px 13px ;
    color: #007cf4;
    border: 2px solid #007bff;
}

.isLoginHeaderGetStartedButton:hover{
    background-color: #e9fcff;
}

.isLoginLogo{
    color:#007CF4;
}