.Home-div-kryesor{
    height: 100vh;
    width: 100%;
    background-color: rgb(28, 66, 120);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Main-home{
    /*height: 100vh;*/
    height: auto;
    width: 100%;
}

.title-home{
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.title-1{
    padding-top: 40px;
    margin-bottom: 40px;
    font-family: Overpass, sans-serif;
    font-style: normal;
    font-size: 45px;
}

.title-2{
    font-size: 20px;
}

/* Pjesa e box */

.Container-home{
    color: white;
    font-size: 18px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.box1 {
    color: white;
    text-decoration:none;
    width: 350px;
    height: 300px;
    background-color: rgb(41, 84, 170); /* This will be overridden by the image */
    background-image: url('../img/istockphoto-1168894271-612x612-removebg-preview.png');
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    transition: 3ms;
    background-size: cover; /* This will ensure that your image covers the entire box */
    background-position: center; /* This will center your image in the box */
}
.box1:hover{
    border: 2px solid #ccc;
    text-decoration:none;
    color: white;
}

.box2{
    text-decoration:none;
    color: white;
    width: 350px;
    height: 300px;
    background-color: #508ce6;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 3ms;
    background-image: url('../img/istockphoto-1186850626-612x612-removebg-preview.png');
    background-size: cover; /* This will ensure that your image covers the entire box */
    background-position: center; /* This will center your image in the box */
}
.box2:hover{
    text-decoration:none;
    color: white;
    border: 2px solid #ccc;
}

.box3{
    text-decoration:none;
    color: white;
    width: 350px;
    height: 300px;
    background-color: #1e7cf6;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    transition: 3ms;
    background-image: url('../img/istockphoto-1168914805-612x612-removebg-preview.png');
    background-size: cover; /* This will ensure that your image covers the entire box */
    background-position: 22px; /* This will center your image in the box */
}
.box3:hover{
    text-decoration:none;
    color: white;
    border: 2px solid #ccc;
}

.box1-a1{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

/* part-two */

.part-two-main {
     display: flex;
    justify-content: center;
     width: 100%;
     min-height: 70vh; /* Using min-height instead of height to allow for content overflow */
     padding: 5vw; /* Using viewport width units for padding */
     background-color: #f0f0f0;
}

.part-two-Container {
    margin-left:-160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh; /* Using viewport height units for padding */
    width: 50%;
}
.pt-title-1{
    font-family: Overpass, sans-serif;
}

.pt-title-2{
    color: #007cf4;
    font-family: Overpass, sans-serif;
}

.part-two-main-right{
    display: flex;
    flex-direction: column;
    width: 25%;
    height:325px;
}

.pt-title-3{
    color: #007cf4;
}

.pt-paragraf-1{
font-size: 20px;
}

/* part-three */

.part-three-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    padding: 20px;
    background-color: #f0f0f0;
}

.part-three-Container{
    display: flex;
    flex-direction: column;
    /*padding-left: 100px;*/
    justify-content: center;
    align-items: center;
}

.pth-title-3{
font-family: Overpass, sans-serif;
padding-right: 85px;
}

.pth-paragraf-3{
padding-top: 22px;
font-size: 20px;
}

.part-three-main-right{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width:100%;
    padding-top:20px;
}

.part-three-main-right .pth-button-a1{
    border-radius: 30px;
    width: 50%;
    height: 48px;
    background-color: #4fa6ff;
    border: 1px solid #4fa6ff;
    font-size: 19px;
    transition: 3ms;
    font-weight: 500;
    color: #004c9c;
    text-align: center;
    padding:10px;
    text-decoration: none;
}

.part-three-main-right .pth-button-a1:hover{
background-color: #0083ff;
border: 1px solid #0083ff;
color: #004c9c;
text-decoration: none;
}

/* part-four */

.part-four-main {
    background-color: #1c4278;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make sure it takes the full height of the viewport */
    box-sizing: border-box;
    color: white;
    padding-bottom: 100px;
    padding-top: 50px;
}

.part-four-Container {
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.part-four-Container .pf-span-4 {
     color: #007CF4;
     margin-bottom: 20px;
}

.part-four-Container .pf-span-5 {
    color: white;
    margin-bottom: 20px;
}

.comparison-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 40px auto 0 auto;
}

.comparison-table-td{
    text-align: left;
}

.comparison-table th, .comparison-table td {
    padding: 15px;
    border-bottom: 1px solid #d6d6d6;
}

.comparison-table th {
    background-color: #1c4278;
    color: #fff;
}

.comparison-table .pf-Peaceful-Parts {
    background-color: #007CF4;
    color: white;
}


.comparison-table td {
    background-color: #1c4278;
    color: #fff;
}


.checkmark {
    color: #007CF4;
    font-size: 20px;
    font-weight: 900;
}

.comparison-table .pf-td-2{
background-color: white;
}

.cross {
    color: red;
    font-size: 20px;
}

.info {
    color: #3498db;
    font-size: 20px;
}

.comparison-table .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dotted #fff;
}

.comparison-table .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.comparison-table .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.comparison-table .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* lakimi */

.part-two-main {
background-color: white;
    height: 100px;
    position: relative;
}

.part-two-main::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 100% 100% 0 0;
    transform: translateY(-50%);
}

.part-three-main {
    height: 100px;
    position: relative;
}

.part-three-main::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 100% 0 0 100%;
    transform: translateY(-50%);
}

.part-four-main {
    position: relative;
}

.part-four-main::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #1c4278;
    border-radius: 0 100% 100% 0;
    transform: translateY(-50%);
}