.button-mainPoints{
    border: none;
    color:red;
    font-size: 28px;
    font-weight: bolder;
    background-color: transparent;
    padding-left: 15px;
    padding-bottom: 5px;
    transition: transform 0.3s;
}

.button-mainPoints:hover {
    transform: scale(1.3);
}