.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-number {
    font-weight: 1000;
    font-size: 18px;
}

.question-text {
    font-size: 29px;
    font-weight: lighter;
    margin-bottom: 25px;
    text-align: center;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    width: 40%;
}

.answer button{
    height: 40px;
    border-radius: 15px;
    background-color: #2e4057;
    color: white;
}

.answer button:hover{
background-color: white;
color: black;
transition: 3ms;
}

.customCheckbox input[type="checkbox"] {
    display: none;
}

.customCheckbox label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-size: 14px;
}

.customCheckbox label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s all;
}

.customCheckbox input[type="checkbox"]:checked + label:before {
    background-color: #2e4057;
}

.dropdownGetStarted {
    border: 1px solid #2e4057;
    padding:10px;
    background-color:transparent;
    color:#1c2736;
    border-radius:5px;
    font-size:large;
    transition: box-shadow 0.1s ease;
}

.dropdownGetStarted:hover{
    cursor: pointer;
    box-shadow: 0 0 0 3px #2e4057;
}


