/*div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-size: 28px;*/
/*    font-weight: lighter;*/
/*    align-items: center;*/
/*}*/

button{
border-radius: 15px;
background-color: white;
color: black;
}

button:hover{
background-color: #2e4057;
color: White;
transition: 3ms;
}