.container-fluid-tWDD {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
        }

        .container-fluid-tWDD button {
            background-color: blue;
            color: white;
            height: 40px;
            margin: 0 10px;
            border: none;
            cursor: pointer;
            border: 2px solid blue;
            border-radius: 5px;
        }

        .container-fluid-tWDD button:hover {
            background-color: white;
            color: black;
            transition: 0.4s;
            border-color: blue;
        }